@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Estilos CSS para a página de pedido de salgados */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#1e1c2a;
}
body{
    color: var(--dark);
    background: var(--white);
}

/* Estilos para o cabeçalho */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.8s;
    position: fixed top;
}
.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--dark);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: var(--red);
}

.menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--dark); /* Cor dos ícones de menu */
    margin-bottom: 5px;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .menu {
        display: block;
    }

    .menu.active + .nav-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f8f9fa;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .nav-item {
        margin: 10px 0;
    }
}

/* Estilos específicos para o formulário */
.order {
    margin: 120px auto 50px; /* Ajuste da margem para evitar sobreposição com o cabeçalho */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    color: var(--dark); /* Cor do texto do formulário */
}

.text-h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--dark); /* Cor do título do formulário */
}

form label {
    display: block;
    margin-bottom: 5px;
    color: var(--dark); /* Cor dos rótulos do formulário */
}

form input,
form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: var(--red); /* Cor do botão de envio */
    color: var(--white); /* Cor do texto do botão de envio */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #d63a25; /* Cor do botão de envio ao passar o mouse */
}
